doctype html
html 
    head
        meta(charset="utf-8")
        title Заголовок страницы
        link(type="Image/x-icon" href="/static/favicon.png" rel="icon")
        link(href="/static/styles/style.css" rel="stylesheet")
    body
        .scheme
            img(src="/static/demo/scheme.png" alt="")
            svg
                polygon(data-id="1" points="52,270 93,305 151,305 151,364 137,364 52,342 17,311")
                polygon(data-id="2" points="92,224 123,252 123,302 93,302 53,268")
                polygon(data-id="3" points="137,169 168,197 124,249 93,223")
        script(src="/static/scripts/script.js")
